.contact-list{
    ul{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        gap: 20px;
        list-style-type: none;


    }


    input{
        margin-inline-start: 100px;
        margin-top: 20px;
    }

    button{
        border: none;
        margin-inline-start: 50px;
        padding: 10px;
        font-weight: 700;

        &:hover{
            background-color: lightblue;
        }
    }
}